<h1>Trip Editor</h1>

<%= form_for current_user.email do |t| %>
  <%= t.label :email %>:
  <%= t.submit :Save %>
  <% end %>

<input type="text" id="post_title" name="post[title]" size="20"/>


<br>


<a href="/home">Home</a>

