<h1>This is the Home index file!</h1>

    <a href="/new/">Add Trip!</a>

    <br><br>
    <br><br>
    <br><br>


  <div class="notVisited">
    <h2>Sites To Visit</h2>


  </div>

  <br><br>

  <div class="visited">
  <h2>Sites Visited</h2>
  </div>

  <br><br>

  <div class="test">
    <h2>Testing</h2>
      <% @users.each do |user| %>

      <%= user["email"] %>

      <a href="/show/">Show user details</a>

      <br><br>


      <br><br>

      <% end %>
  </div>


    <br>
    <br>

