<h1>This is the Trips index file</h1>




<%= form_tag("/home", method: "post") do %>
  <%= label_tag(:user, "Search for:") %><br>
  <%= text_field_tag(:user) %>
  <%= submit_tag("Search") %>
<% end %>



<br><br>

</form>
