<<<<<<< HEAD
<h1>This is the details page</h1>


<div classs="monumentDetails">


<%= @user['email'] %>

<br><br><br>

Notes:
<input type="text" id="post_title" name="post[title]" size="20"/>

<br><br>

</div>
=======
Name: <%= @monument['monument_name'] %> <br>
Address: <%= @monument['address'] %> <br><br>
>>>>>>> 89e8eb47481fc9d76c82d24ad6297e88ef1e9499
